@font-face {
    font-family: 'SuperComic';
    src: url('SuperComic-qZg62.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
    background-image: url('background-new.png');
    background-size: cover;
    background-position: center; /* Optional: Center the background image */
    background-size: 100%; /* Adjust the value to zoom out the background */
    z-index: 2;
}

header {
    background-color: #33333300;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.title {
    display: inline-block;
    font-family: 'SuperComic', Arial, sans-serif;
    font-size: 100px;
    z-index: 1;
}

.title span {
    transition: color 0.0s ease;
}

.title span:hover {
    color: rgb(255, 0, 0); /* Change to the desired hover color */
    text-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
    font-size: 100%;
}





.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}


.off-centered-image-left {
    position: absolute;
    top: 100%;
    left: 20%; /* Adjust as needed to position the image off-centered */
    transform: translate(-50%, -50%);
    max-width: 300px; /* Adjust the width of the image as needed */
    z-index: 1;
}

.off-centered-image-right {
    position: absolute;
    top: 150%;
    left: 80%; /* Adjust as needed to position the image off-centered */
    transform: translate(-50%, -50%);
    max-width: 300px; /* Adjust the width of the image as needed */
    z-index: 1;
}


.off-centered-image-left:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Scale up the image on hover */
}

.off-centered-image-right:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Scale up the image on hover */
    background-image: url('page-folded.png');
}
